.amazon-header{
    background-color: rgb(19,25,33);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

}
@media (max-width: 800px) {
    .leftLogoSection {
        width: unset;
    }
}

.headerLink{
    display: inline-block;
    padding: 3px;

    cursor: pointer;
    text-decoration: none;

}

.headerLink:hover{
    border: 1px solid white;
}

.amazonLogo {
    width: 70px;
    margin-top: 5px;
}

.amazon-mobile-logo{
    display: none;
}
/*amazon logo media query*/
@media (max-width: 575px) {
    .amazonLogo{
        display: none;
    }

    .amazon-mobile-logo{
        display: block;
        height: 35px;
        margin-top: 5px;
    }
}

.header-middle-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 850px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-icon{
    height: 22px;
    margin-left: 2px;
    margin-top: 3px;
}

.search-bar{
    width: 500px;
    padding: 8px;
}

.search-button{
    background-color: rgb(254,189,105);
    border: none;
    width: 40px;
    height: 35px;
    margin: 10px;
    margin-left: 5px;
}

@media (max-width: 575px) {
    .search-bar{
        width: 150px;
    }
}

.header-right-section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.return-order{
    display: flex;
    color: white;
    max-width: 15px;
    margin-right: 45px;
}

.return-link{
    color: white;
    text-underline: none;
    font-size: 13px;
}

.cart-link{
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.cart-icon{

    width: 50px;
    margin-left: 5px;
}

.cart-qty{
    color: rgb(240,136,4);
    font-size: 20px;
    position: absolute;
    top: -2px;
    left: 30px;
}

.cart-label{
    margin-top: 15px;
}