body{
    margin:0
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}


@media (min-width: 1600px) {
    .product-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}


@media (max-width: 1599px) {
    .product-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}


@media (max-width: 1199px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (max-width: 991px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 767px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 575px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}


.product-card{
    padding-top:40px ;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction:column ;
}

.pimage{
    display: flex;
    align-items: center;
    justify-content: center;
    width:200px;
    height: 200px;
    margin-bottom: 10px;
}

.pname{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prating{
    display: flex;
    align-items: center;

}

.pratingstart{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
}

.ratingcount{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
}

.productprice{
    font-weight: bold;
    margin-bottom: 4px;
}

.pquantity{
    display: flex;
    margin: 5px;
}

.product-spacer{
    flex: 1;
}

.added-to-cart{
    color:rgb(6,125,98);
    font-size:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.added-image{
    height: 20px;
    margin-right: 5px;
}

.add-to-cart-button{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(255,216,20);
    border: none;
    color:#212121

}

